.git/
.github/
.venv/
.venv-*/
venv/
**/__pycache__/
*.egg-info/
build/
dist/
.coverage
coverage.json
htmlcov/
.pre-commit-config.yaml
.pylintrc
renovate.json
taky.conf
tests/
doc/
Dockerfile
.dockerignore
